[submodule "ros2_ws/src/doosan-robot2"]
	path = ros2_ws/src/doosan-robot2
	url = https://github.com/doosan-robotics/doosan-robot2.git
	branch = humble
[submodule "ros2_ws/src/easy_handeye2"]
	path = ros2_ws/src/easy_handeye2
	url = https://github.com/marcoesposito1988/easy_handeye2.git
	branch = main
[submodule "ros2_ws/src/Mediapipe-Hand-ROS"]
	path = ros2_ws/src/Mediapipe-Hand-ROS
	url = https://github.com/DaeyunJang/Mediapipe-Hand-ROS.git
